<section class='recipe_show'>
  <h2><%=@recipe.name%></h2>
  <div class="switch">
    <div class='recipe_desc'>
      <p>
        preparation time: <%=@recipe.preparation_time%>
        <%if @recipe.preparation_time > 1%> 
          hours
        <%else%>
          hour
        <%end%>
      </p>
       <p>
        cooking time: <%=@recipe.cooking_time%>
        <%if @recipe.cooking_time > 1%> 
          hours
        <%else%>
          hour
        <%end%>
      </p>
      <p><%=@recipe.description%></p>
    </div>
    <%if @recipe.user == @user%>
    <div class='toggle'>
      <p>public</p>
      <label class="toggle-switch">
        <%
=begin%>
 <input type="checkbox" id="toggle" <%if @recipe.public? checked%> /> 
<%
=end%>
        <span class="slider"></span>
     </label>
   </div>
   <%end%>
  </div>
  <div class='generate'>
    <%= link_to "generate list", recipe_recipefoods_path(recipe_id: @recipe) %>
    <%= link_to "Add ingredient", new_recipe_recipefood_path(recipe_id: @recipe) %>
  </div>
    <%if @recifoods == []%>
      <h2>you have no food ingredients yet, click on "Add ingredient" to add to the list</h2>
    <%else%>
      <table>
        <thead>
          <tr>
            <th> food </th>
            <th> quantity </th>
            <th> value </th>
            <th> action </th>
          </tr>
        </thead>
        <%@recifoods.each do |e|%>
            <tbody>
              <tr>
                <td><%=e.food.name%></td>
                <td><%=e.quantity%></td>
                <td><%= e.quantity * e.food.price %></td>
                <td><%= button_to "modify remove", recipe_recipefood_path(@recipe, e.id), method: :delete %></td>
              <tr>
          </tbody>
        <%end%>
      </table>
    <%end%>
</section>