<%= render partial:"shared/navbar", locals:{user: @user} %>
<section class="public">
  <h2>Public Recipes</h2>
  <%@recipes.each do |recipe|%>
  <div class="public_box">
    <div class="host">
      <%= link_to recipe.name, user_recipe_path(recipe.user, recipe) %>
      <p>by: <%=recipe.user.name%>
   </div>
   <div class='detail'>
    <p>total number of foods: <%=recipe.foods.count%></p>
    <p>total price of foods: $<%=recipe.foods.sum(:price)%></p>
   </div>
   </div>
  <%end%>
</section>