
<%= render "shared/sign" %>

<div class="food">
  <%= link_to "Add food", new_user_food_path(@user) %>
   <%if @food == [] %>
    <h2> you do not have any food in your catalogue, add new foods</h2>
  <%else%>
    <% @food.each do |food| %>
    <h3><%= food.name %></h3>
    <p><%= food.measurement_unit %></p>
    <p><%= food.price %></p>
    <%= button_to "delete", user_food_path(@user, food.id), method: :delete %>
  <% end %>
  <%end%>
</div>